#ANN

In [ ]:
#Warning : Data pre processing is very rough

In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv('C-train.csv')

In [72]:
df

      x1   x2   x3   x4   x5  y
0   -146 -128  106  275  259  A
1    -61  108  -69 -178 -126  B
2   -155    4 -187 -197   -9  B
3     51  -23   25   44   14  A
4    177 -110    2   84   50  C
..   ...  ...  ...  ...  ... ..
185 -126  -64 -126  -62   82  B
186  177   -3   72   59  -48  C
187   70  -67  139  218  103  C
188  -61  -34 -185 -172   -6  B
189  131 -229 -198  -22  132  A

[190 rows x 6 columns]

In [73]:
df.describe()

               x1          x2          x3          x4          x5
count  190.000000  190.000000  190.000000  190.000000  190.000000
mean    -6.452632   -5.700000   11.547368   20.215789   14.226316
std    130.882052  133.658926  132.262707  168.766552  143.927437
min   -346.000000 -480.000000 -310.000000 -415.000000 -409.000000
25%   -113.500000  -95.500000  -96.500000 -116.500000  -94.500000
50%     14.500000  -30.500000    6.000000   44.500000   26.500000
75%    103.250000   80.250000  114.750000  133.500000  111.250000
max    243.000000  440.000000  326.000000  426.000000  372.000000

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      190 non-null    int64
 1   x2      190 non-null    int64
 2   x3      190 non-null    int64
 3   x4      190 non-null    int64
 4   x5      190 non-null    int64
 5   y       190 non-null    object
dtypes: int64(5), object(1)
memory usage: 9.0+ KB

In [75]:
for i in range(1,6):
  text = 'x' + str(i)
  low, high = df[text].quantile([0.05, 0.95])
  df.drop(df[df[text]<low].index,inplace=True)
  df.drop(df[df[text]>high].index,inplace=True)

In [76]:
df

      x1   x2   x3   x4   x5  y
1    -61  108  -69 -178 -126  B
3     51  -23   25   44   14  A
5    143   32  105   67  -61  C
8    -39    3 -102 -115  -27  B
14  -176   66 -154 -217  -57  B
..   ...  ...  ...  ...  ... ..
180   60   59   77   20  -67  C
182   65   44   17  -35  -74  A
183  157  -89   23   90   42  C
185 -126  -64 -126  -62   82  B
187   70  -67  139  218  103  C

[109 rows x 6 columns]

In [77]:
X = df.drop('y',axis=1)

In [78]:
y = df['y']

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,random_state=100)

In [82]:
mlp = MLPClassifier(max_iter=1000)
mlp.fit(X_train,y_train)

MLPClassifier(max_iter=1000)

In [83]:
y_pred = mlp.predict(X_test)

In [84]:
print("Report")
print(classification_report(y_test,y_pred))
print("------------------")
print("Confusion Matrix")
print(confusion_matrix(y_test,y_pred))

Report
              precision    recall  f1-score   support

           A       0.69      0.79      0.73        14
           B       0.85      0.85      0.85        13
           C       0.93      0.82      0.87        17

    accuracy                           0.82        44
   macro avg       0.82      0.82      0.82        44
weighted avg       0.83      0.82      0.82        44

------------------
Confusion Matrix
[[11  2  1]
 [ 2 11  0]
 [ 3  0 14]]

#Predict

In [85]:
df = pd.read_csv('C-test.csv')

In [86]:
df

    x1   x2   x3   x4   x5     y
0   26  -57    9   64   60  C_01
1   89 -150  135  293  190  C_02
2   68 -122  206  351  194  C_03
3  128 -146 -109   -3   69  C_04
4  114 -171  164  343  214  C_05
5 -121   34  168  181   82  C_06
6  145  -26   28   36  -24  C_07
7 -156  -37 -167 -132   49  C_08
8  -57 -166   65  252  247  C_09
9 -156 -148  -16  156  239  C_10

In [87]:
X = df.drop('y',axis=1)

In [88]:
y_pred = mlp.predict(X)

In [89]:
print(y_pred)

['B' 'C' 'C' 'A' 'C' 'A' 'C' 'B' 'A' 'A']